// @allWidth: 100vw;
.headerRight {
  a{
    color: rgba(255, 255, 255, 0.85);
    padding-left: 56px;
    font-size: 16px;
    line-height: 72px;
    :hover {
      cursor: pointer;
    }
  }
  
}

.normal {
  font-family: Georgia, sans-serif;
  margin-top: 3em;
  color: #0A1824;
  margin-bottom: 40px;
}

.title {
  font-size: 28px;
  font-weight: 500;
}

